<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name assignment</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Idresource</th>
      <th>Idproject</th>
      <th colspan="3" style="text-align:center;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name_assignment %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.deadline %></td>
        <td><%= assignment.idresource %></td>
        <td><%= assignment.idproject %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
