<p id="notice"><%= notice %></p>

<p>
  <strong>Name client:</strong>
  <%= @client.name_client %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @client.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @client.password %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @client.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Is experienced:</strong>
  <%= @client.is_experienced %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @client.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @client.status %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
